<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>201169508800-dvu0b24nprmdshcqoludhtub7cmtu0v4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.201169508800-dvu0b24nprmdshcqoludhtub7cmtu0v4</string>
	<key>API_KEY</key>
	<string>AIzaSyAc-oGvmmJRWGL2zqpR1X4OM2JtZ0VmE_4</string>
	<key>GCM_SENDER_ID</key>
	<string>201169508800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neurocircuit.orot</string>
	<key>PROJECT_ID</key>
	<string>orot-9d384</string>
	<key>STORAGE_BUCKET</key>
	<string>orot-9d384.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201169508800:ios:de924470866e6ac6235025</string>
</dict>
</plist>